<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Guifreaks.Common_TargetDir=$(var.Guifreaks.Common.TargetDir)?>
  <?define Guifreaks.Design_TargetDir=$(var.Guifreaks.Design.TargetDir)?>
  <?define Guifreaks.NavisuiteDemo_TargetDir=$(var.Guifreaks.NavisuiteDemo.TargetDir)?>
  <?define ToolboxControlsInstallerPackageGuid = "{2c298b35-07da-45f1-96a3-be55d91c8d7a}" ?>
  <?define ProductShortName = "Guifreaks Navisuite" ?>
  <?define ProductVersion = "2.0.0" ?>
  <?define ProductVersionText = "2.0" ?>
  <?define Manufacturer = "Guifreaks" ?>
  <?define ProductCode = "50008326-c841-42a1-97e9-6dec49acbf6c" ?>
  <?define UpgradeCode = "b2831997-b964-4667-8e20-79c1c51a5804" ?>
  <Product Id="$(var.ProductCode)" UpgradeCode="$(var.UpgradeCode)" Name="$(var.ProductShortName) $(var.ProductVersionText)" Version="$(var.ProductVersion)" Language="1033" Manufacturer="$(var.Manufacturer)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <UIRef Id="WixUI_FeatureTree" />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="topBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Guifreaks Navisuite Controls" Level="1" Display="expand" AllowAdvertise="no" InstallDefault="local" Absent="disallow">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ar_files" />
      <ComponentGroupRef Id="nl_nl_files" />
    </Feature>

    <Feature Id="GfNavisuite_VisualStudio12Toolbox" Title="Register controls in Visual Studio 2013" Level="1" Display="expand" AllowAdvertise="no" InstallDefault="local" Absent="allow">
      <ComponentRef Id="GfNavisuite_VisualStudio12Toolbox" />
    </Feature>

    <Feature Id="GfNavisuite_VisualStudio11Toolbox" Title="Register controls in Visual Studio 2012" Level="1" Display="expand" AllowAdvertise="no" InstallDefault="local" Absent="allow">
      <ComponentRef Id="GfNavisuite_VisualStudio11Toolbox" />
    </Feature>

    <Feature Id="GfNavisuite_VisualStudio10Toolbox" Title="Register controls in Visual Studio 2010" Level="1" Display="expand" AllowAdvertise="no" InstallDefault="local" Absent="allow">
      <ComponentRef Id="GfNavisuite_VisualStudio10Toolbox" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Guifreaks.Installer">
          <Directory Id="ar" Name="ar" />
          <Directory Id="nl_nl" Name="nl-nl" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Guifreaks.Common.dll" Guid="f2ed060f-36cf-4ae1-a3ff-e9c1ba74c335">
        <File Id="Guifreaks.Common.dll" Name="Guifreaks.Common.dll" Source="$(var.Guifreaks.Common_TargetDir)Guifreaks.Common.dll" />
      </Component>
      <Component Id="CHANGES.TXT" Guid="397bca1e-47a8-415d-a41e-41368363e97c">
        <File Id="CHANGES.TXT" Name="CHANGES.TXT" Source="$(var.Guifreaks.Design_TargetDir)CHANGES.TXT" />
      </Component>
      <Component Id="Guifreaks.Design.dll" Guid="14987867-8658-4d3b-ac94-3eb0dda7f56d">
        <File Id="Guifreaks.Design.dll" Name="Guifreaks.Design.dll" Source="$(var.Guifreaks.Design_TargetDir)Guifreaks.Design.dll" />
      </Component>
      <Component Id="Guifreaks.Navisuite.dll" Guid="ef48005a-a88a-40ed-ad3a-48c7dc61c7fe">
        <File Id="Guifreaks.Navisuite.dll" Name="Guifreaks.Navisuite.dll" Source="$(var.Guifreaks.Design_TargetDir)Guifreaks.Navisuite.dll" />
      </Component>
      <Component Id="Guifreaks.Navisuite.XmlSerializers.dll" Guid="c921216d-56f7-45c2-8edd-ff642feaa163">
        <File Id="Guifreaks.Navisuite.XmlSerializers.dll" Name="Guifreaks.Navisuite.XmlSerializers.dll" Source="$(var.Guifreaks.NavisuiteDemo_TargetDir)Guifreaks.Navisuite.XmlSerializers.dll" />
      </Component>
      <Component Id="Guifreaks.NavisuiteDemo.exe" Guid="68f430c1-60df-4bcc-b898-44e1546b4b37">
        <File Id="Guifreaks.NavisuiteDemo.exe" Name="Guifreaks.NavisuiteDemo.exe" Source="$(var.Guifreaks.NavisuiteDemo_TargetDir)Guifreaks.NavisuiteDemo.exe" />
      </Component>
      <Component Id="Guifreaks.NavisuiteDemo.exe.config" Guid="4f0b4d83-de1d-4e08-98c3-031943fd8c8f">
        <File Id="Guifreaks.NavisuiteDemo.exe.config" Name="Guifreaks.NavisuiteDemo.exe.config" Source="$(var.Guifreaks.NavisuiteDemo_TargetDir)Guifreaks.NavisuiteDemo.exe.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ar_files" Directory="ar">
      <Component Id="ar_Guifreaks.Navisuite.resources.dll" Guid="af969057-b8c4-4185-8121-9cb52a4f9ee6">
        <File Id="ar_Guifreaks.Navisuite.resources.dll" Name="Guifreaks.Navisuite.resources.dll" Source="$(var.Guifreaks.Design_TargetDir)ar\Guifreaks.Navisuite.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="nl_nl_files" Directory="nl_nl">
      <Component Id="nl_nl_Guifreaks.Navisuite.resources.dll" Guid="983c00ea-dd4a-4ded-bcbd-48e91f5bc0fa">
        <File Id="nl_nl_Guifreaks.Navisuite.resources.dll" Name="Guifreaks.Navisuite.resources.dll" Source="$(var.Guifreaks.Design_TargetDir)nl-nl\Guifreaks.Navisuite.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="registry" Directory="INSTALLFOLDER">
      <!-- Register the control with the Toolbox Controls Installer Package for Visual Studio 2013 (Standard edition and higher) -->
      <Component Id="GfNavisuite_VisualStudio12Toolbox" Guid="4849b2d9-633e-44d2-a074-9cd2428ee35b">
        <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\12.0\ToolboxControlsInstaller\Guifreaks.Navisuite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=7f6dc13cbca790ea" ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="Guifreaks Navisuite" />
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\12.0_Config\ToolboxControlsInstaller\Guifreaks.Navisuite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=7f6dc13cbca790ea" ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="Guifreaks Navisuite" />
        </RegistryKey>
      </Component>

      <!-- Register the control with the Toolbox Controls Installer Package for Visual Studio 2012 (Standard edition and higher) -->
      <Component Id="GfNavisuite_VisualStudio11Toolbox" Guid="070998e5-c9f0-4672-86e7-0903d8ae821a">
        <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\11.0\ToolboxControlsInstaller\Guifreaks.Navisuite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=7f6dc13cbca790ea" ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="Guifreaks Navisuite" />
        </RegistryKey>

        <RegistryKey Root="HKCU" Key="Software\Microsoft\VisualStudio\11.0_Config\ToolboxControlsInstaller\Guifreaks.Navisuite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=7f6dc13cbca790ea" ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="Guifreaks Navisuite" />
        </RegistryKey>
      </Component>

      <!-- Register the control with the Toolbox Controls Installer Package for Visual Studio 2010 (Standard edition and higher) -->
      <Component Id="GfNavisuite_VisualStudio10Toolbox" Guid="47dd512f-c27e-4aee-826b-57b5a88860f0">
        <RegistryKey Root="HKLM" Key="Software\Microsoft\VisualStudio\10.0\ToolboxControlsInstaller\Guifreaks.Navisuite, Version=2.0.0.0, Culture=neutral, PublicKeyToken=7f6dc13cbca790ea" ForceDeleteOnUninstall="yes" ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="Guifreaks Navisuite" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>